.admin__scope-old .field-price input[type="text"]{
	width: 200px;
}
.currency-symbol{
	height: 33px;
	border: 1px solid #adadad;
	border-right: 0;
	padding-left: 5px;
	margin-right: -1px;
}
.currency-symbol-focus{
	border-color: #007bdb;
}