<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="giftwrap" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Gift Wrap</label>
            <tab>excellence</tab>
            <resource>Excellence_Giftwrap::config_giftwrap</resource>
            <group id="view" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Gift Wrap View Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Gift Wrap</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="default_gift_wrap" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Default Gift Wrap Settings</label>
                <field id="label" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Label</label>
                    <comment><![CDATA[Enter Name of Gift Wrap]]></comment>
                </field>
                <field id="upload_image_id" translate="label comment" type="image" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image</label>
                    <backend_model>Excellence\Giftwrap\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">default_gift_wrap</base_url>
                    <comment>Upload small size image to display as Gift Wrap</comment>
                </field>
            </group>
            <group id="cost_calculation" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cost Calculation Setting</label>
                <field id="cost_calculation" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Gift Wrap Cost</label>
                    <source_model>Excellence\Giftwrap\Model\Adminhtml\Config\Source\CostCalculation</source_model>
                </field>
                <field id="price" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Price</label>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>